{% extends'page.twig' %}

{% block intro %}
                {% for callout in post.meta('callouts') %}
                    {% set calloutText = callout.call_out_highlight_word %}
                    <p>{{ callout.callout_pretext }} <a href="{{ callout.call_out_link }}"><span id="calloutSpan" onmouseenter="addIcon('{{ calloutText }}')" onmouseleave="removeIcon()">{{ calloutText }}</span></p></a>
                {% endfor %}
{% endblock %}

{% block content %}
   <article class="homeContent">
       <section class="row1">
           <h2>Hey there! I'm Thomas Lane.</h2>
           {{ parent() }}
       </section>
       <section class="row2">
               <h3>Companies Worked With...</h3>
       </section>
       <section class="row3">
               <figure>
                    <img src="/wp-content/uploads/2022/01/mount-washington-cog-railway-logo.png" alt="Mt. Washington Cog Railway"/>
               </figure>
               <figure>
                   <img src="/wp-content/uploads/2022/01/The_Walt_Disney_Company_logo.png" alt="The Walt Disney Company"/>
               </figure>
               <figure>
                   <img src="/wp-content/uploads/2022/01/lrgwhite.png" alt="Lost River Gorge & Boulder Caves"/>
               </figure>
               <figure>
                   <img src="https://thomas-lane.local/wp-content/uploads/2022/01/wmaalogomonochrome.png" alt="White Mountains Attractions Association"/>
               </figure>
       </section>
   </article>

{% endblock %}

{% block javascript %}
<script>
    const callout = document.getElementById('calloutSpan');
    const homeBg = document.getElementById('headerIntro');

    function addIcon(x) {
        console.log(x);
        if (x === "Drummer"){
            homeBg.style.backgroundImage = "linear-gradient(to bottom, transparent, #141e30, #243b55), url('/wp-content/uploads/2022/01/pexels-josh-sorenson-995301.jpg')";
        }

        if (x === 'Teacher'){
            homeBg.style.backgroundImage = "linear-gradient(to bottom, transparent, #141e30, #243b55),url('/wp-content/uploads/2022/01/pexels-pixabay-207691.jpg')";
        }

        if (x === 'Developer'){
            homeBg.style.backgroundImage = "linear-gradient(to bottom, transparent, #141e30, #243b55),url('/wp-content/uploads/2022/01/pexels-negative-space-160107.jpg')";
        }
    }

    function removeIcon(){
        // homeBg.style.backgroundImage = "linear-gradient(to right, #141e30, #243b55)";
    }
</script>
{% endblock %}


